html *{
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: gainsboro;
}
body * {
    margin: 5%;
}
#container{
    width: 450px;
    height: 450px;
    background-color: white;
    border: 15px solid black;
    border-top-color: gray;
    border-right-color: rgb(43, 42, 42);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    overflow: visible;
    gap: 0;
}
#container *{
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    margin: 0;
}
.grid{
    transition: all 0.5s;
    background: hsl(0, 0%, 100%);
}
.btn{
    width: 150px;
    height: 50px;
    border: 3px solid black;
    font-size: 25px;
    transition: all 0.5s;
}
.btn:hover{
    color: white;
    background-color: black;
}
form, #input{
    flex-direction: column;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="number"]{
    width: 150px;
    height: 50px;
    padding: 0;
    border: 3px solid black;
    margin-bottom: 1px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

